<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: base(~{::title}, ~{::.content}, ~{}, ~{::script})">
<title>Checkout Basket - Blipsit: Food & Grocery Delivery</title>
<nav class="content" th:replace="includes/navbar :: navbar('navbar-light bg-white fixed-top', true)"></nav>
<div class="banner content bg-primary text-light pb-5">
    <div class="container">
        <div class="banner-title mt-5 text-secondary text-center text-sm-left">
            <span>Checkout Basket</span>
        </div>
    </div>
</div>
<div class="container content pt-5">

    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger fade show" role="alert"></div>

    <div th:if="${param.error}" class="alert alert-danger fade show" role="alert">
        An error occurred. Couldn't complete operation
    </div>

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow mb-5">
                <div class="card-body">

                    <a class="btn bg-light text-primary btn-block btn-sm mb-4 py-2"
                       th:href="${'/merchant/' + #authentication.getPrincipal().account.basket.merchant.slug}">
                        <i class="material-icons md-16 text-dark mr-1">arrow_back</i>
                        Go Back To Restaurant
                    </a>

                    <h3 class="mb-1" th:text="${#authentication.getPrincipal().account.basket.merchant.name}"></h3>
                    <p class="text-muted" th:text="${#authentication.getPrincipal().account.basket.merchant.address}"></p>

                    <hr />

                    <div class="media flex-column align-items-start py-2" th:each="basketItem : ${basketItems}">
                        <div class="d-flex w-100 justify-content-between media-body">
                            <div class="pr-4 pl-1">
                                <h6 th:text="${basketItem.quantity}">1</h6>
                            </div>
                            <div>
                                <h6 th:text="${basketItem.item.name}"></h6>
                                <small class="mb-1 text-muted" th:text="${basketItem.stringifyOptions()}"></small>
                            </div>
                            <div class="pl-2 pr-1">
                                <h6 class="font-weight-normal"
                                    th:text="${'&#8358;' +
                                        #numbers.formatDecimal(basketItem.totalPrice, 1, 'COMMA', 2, 'POINT')}">
                                    &#8358;0.00
                                </h6>
                            </div>
                            <div class="pl-2 pr-1 font-weight-bold">
                                <a class="h5" th:href="${'/account/basket/remove/' + basketItem.id}">&times;</a>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="media flex-column align-items-start py-2">
                        <div class="d-flex w-100 justify-content-between media-body">
                            <div>
                                <h6 class="font-weight-normal">Subtotal</h6>
                            </div>
                            <div class="pl-2 pr-1">
                                <span class="h6"
                                      th:text="${'&#8358;' + #numbers.formatDecimal(basketSubTotal, 1, 'COMMA', 2, 'POINT')}">
                                </span>
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-between media-body">
                            <div>
                                <h6 class="font-weight-normal mb-0">Delivery</h6>
                            </div>
                            <div class="pl-2 pr-1">
                                <i id="id-delivery-star" class="material-icons md-16 text-warning d-none"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Due to variables like intense traffic, the delivery fee is currently slightly increased for now">stars</i>
                                <span id="id-delivery-fee" class="h6 mb-0">&#8358;0.0</span>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="media flex-column align-items-start py-2">
                        <div class="d-flex w-100 justify-content-between media-body">
                            <div>
                                <h5>Total</h5>
                            </div>
                            <div class="pl-2 pr-1">
                                <span id="id-total" class="h5 text-primary font-weight-bold"
                                      th:text="${'&#8358;' + #numbers.formatDecimal(basketSubTotal, 1, 'COMMA', 2, 'POINT')}">
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-8">

            <h2>Delivery Address</h2>

            <hr />

            <div class="card shadow-sm mb-5">
                <div class="card-body">

                    <form id="form-select-address" action="javascript:void(0)"
                          th:class="${#authentication.getPrincipal().account.addresses.size() <= 0 ? 'hide px-3' : 'px-3' }">

                        <div class="custom-control custom-radio mb-3"
                             th:each="address : ${#authentication.getPrincipal().account.addresses}">
                            <hr th:if="${addressStat.index != 0}" />
                            <input th:checked="${addressStat.index == 0 ? 'yes' : 'no'}"
                                   type="radio" th:id="${'id-address-' + address.id}"
                                   th:value="${address.id}" name="addressId" class="custom-control-input">
                            <label class="custom-control-label pl-3" th:for="${'id-address-' + address.id}">
                                <span id="label-address" class="h6 font-weight-normal" th:text="${address.address}"></span>
                                <br />
                                <small id="label-phoneNumber" class="font-weight-normal text-muted"
                                       th:text="${address.phoneNumber}"></small>
                            </label>
                        </div>

                        <a href="#" onclick="toggleAddAddress()" class="btn btn-primary btn-sm px-4 py-2 mt-3">
                            Add New Address
                        </a>

                    </form>

                    <form id="form-add-address" th:action="@{/account/address/add}" method="post" autocomplete="off"
                          th:class="${#authentication.getPrincipal().account.addresses.size() > 0 ? 'hide' : '' }">

                        <h3 class="mb-4">Add Address</h3>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="id-aoks" class="col-form-label mb-0">Address*:</label>
                                <input type="text" name="aoks" required class="form-control" autocomplete="off"
                                       id="id-aoks" placeholder="Enter your street address. E.g. 1, Taiwo Street" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id-phoneNumber" class="col-form-label mb-0">Phone Number*:</label>
                                <input type="tel" name="phoneNumber" required class="form-control"
                                       id="id-phoneNumber" placeholder="What number can we call you on. E.g 080xxxxxxxx" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="id-extraInfo" class="col-form-label mb-0">Extra Delivery Information (Optional):</label>
                                <textarea type="password" name="extraInfo" class="form-control" id="id-extraInfo"
                                          placeholder="Is there any other information the courier should to know about your address? E.g. Apt no., floor"
                                          rows="6"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="latitude" id="id-latitude" required />
                        <input type="hidden" name="longitude" id="id-longitude" required />
                        <input type="hidden" name="address" id="id-address" required />
                        <button id="btn-add-address" type="submit" class="btn btn-block btn-primary mt-4 mb-3" disabled>
                            Add New Address
                        </button>
                        <p><a href="javascript:void(0)" class="text-primary" onclick="toggleAddAddress()">Use saved address</a></p>
                    </form>
                </div>
            </div>

            <h2>Payment Method</h2>

            <hr />

            <div class="card shadow-sm mb-5">
                <div class="card-body">

                    <form id="form-select-payment-method" action="javascript:void(0)"
                          th:class="${#authentication.getPrincipal().account.addresses.size() <= 0 ? 'hide px-3' : 'px-3' }">

                        <div class="custom-control custom-radio mb-3">
                            <input checked type="radio" id="id-payment-method-card" value="PAYMENT_CARD"
                                   name="paymentMethod" class="custom-control-input">
                            <label class="custom-control-label pl-3" for="id-payment-method-card">
                                <span class="h6 font-weight-normal">Pay with card</span>
                                <br />
                                <small class="font-weight-bold text-success">
                                    Get free delivery when you prepay with you MasterCard, Verve or Visa card
                                </small>
                            </label>
                        </div>

                        <div class="custom-control custom-radio mb-3">
                            <hr />
                            <input type="radio" id="id-payment-method-on-delivery" value="PAYMENT_ON_DELIVERY"
                                   name="paymentMethod" class="custom-control-input">
                            <label class="custom-control-label pl-3" for="id-payment-method-on-delivery">
                                <span class="h6 font-weight-normal">Pay on delivery (Cash)</span>
                                <br />
                                <small class="text-muted">
                                    Pay for your items when they get to you (Delivery fee included)
                                </small>
                            </label>
                        </div>

                    </form>
                </div>
            </div>

            <button id="btn-request" type="button" class="btn btn-lg btn-primary btn-block my-5" data-toggle="modal"
                    data-target="#confirm-modal" disabled>
                Request Delivery
            </button>

        </div>

    </div>

    <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg mx-auto" role="document">
            <div class="modal-content shadow-lg">
                <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title">Confirm Order</h5>
                    <button type="button" class="close text-white" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12 pr-md-0">
                        <div id="delivery-map" class="modal-map"></div>
                    </div>
                    <div class="col-md-5 col-sm-12 pl-md-0">
                        <div class="modal-body modal-body-col">

                            <div id="confirm-alert" class="alert alert-danger fade show d-none"
                                 role="alert">An error occurred. Couldn't complete operation</div>

                            <h4>Order Information</h4>

                            <div class="card shadow-sm mb-4">
                                <div class="card-body">

                                    <div class="media flex-column align-items-start py-2">
                                        <div class="d-flex w-100 justify-content-between media-body">
                                            <div>
                                                <h6 class="font-weight-normal">Subtotal</h6>
                                            </div>
                                            <div class="pl-2 pr-1">
                                                <span class="h6" th:text="${'&#8358;' + #numbers.formatDecimal(basketSubTotal, 1, 'COMMA', 2, 'POINT')}">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex w-100 justify-content-between media-body">
                                            <div>
                                                <h6 class="font-weight-normal mb-0">Delivery</h6>
                                            </div>
                                            <div class="pl-2 pr-1"  >
                                                <span id="id-modal-deliveryFee" class="h6 mb-0"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="media flex-column align-items-start py-2">
                                        <div class="d-flex w-100 justify-content-between media-body">
                                            <div>
                                                <h6 class="mb-0">Total</h6>
                                            </div>
                                            <div class="pl-2 pr-1">
                                                <span class="h6 text-primary mb-0 font-weight-bold" id="id-modal-total"
                                                      th:text="${'&#8358;' + #numbers.formatDecimal(basketSubTotal, 1, 'COMMA', 2, 'POINT')}"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <h4>Delivery Information</h4>

                            <div class="card shadow-sm mb-4">
                                <div class="card-body">
                                    <span id="id-modal-address" class="h6 font-weight-normal"></span>
                                    <br />
                                    <small id="id-modal-phoneNumber" class="font-weight-normal text-muted"></small>
                                </div>
                            </div>

                            <h4>Payment Information</h4>

                            <div class="card shadow-sm mb-4">
                                <div class="card-body">
                                    <span id="id-modal-paymentMethod" class="h6 font-weight-normal"></span>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <form id="form-confirm-order" th:action="@{/account/basket/checkout}" method="post">
                                <input type="hidden" id="id-form-addressId" name="addressId">
                                <input type="hidden" id="id-form-paymentMethod" name="paymentMethod">
                                <input type="hidden" id="id-form-cardId" name="cardId">
                                <button name="submit" type="submit" class="btn btn-primary btn-block px-5 btn-add-to-cart">
                                    <i class="material-icons md-16 text-light mr-1">done</i>
                                    Confirm Order
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">

    /*<![CDATA[*/

    var merchantLatitude = /*[[${#authentication.getPrincipal().account.basket.merchant.latitude}]]*/ 0.0;
    var merchantLongitude = /*[[${#authentication.getPrincipal().account.basket.merchant.longitude}]]*/ 0.0;

    /*]]>*/

    var storeIconLocation = "/static/img/icons/ic_store.png";
    var personIconLocation = "/static/img/icons/ic_person.png";

    var merchantCoordinates;

    var isValid = false;

    var selectAddressForm = document.getElementById("form-select-address");
    var selectPaymentMethodForm = document.getElementById("form-select-payment-method");

    var aoksInput = document.getElementById("id-aoks");

    var latitudeInput = document.getElementById("id-latitude");
    var longitudeInput = document.getElementById("id-longitude");
    var addressInput = document.getElementById("id-address");

    var map;
    var directionsDisplay;
    var directionsService;

    function initGoogleApi() {

        updateDeliveryInfo();

        directionsDisplay = new google.maps.DirectionsRenderer({
            suppressMarkers: true,
            polylineOptions: {
                strokeColor: "black"
            }
        });
        directionsService = new google.maps.DirectionsService();

        merchantCoordinates = new google.maps.LatLng(merchantLatitude, merchantLongitude);

        var options = {
            types: ['address'],
            sessionToken: new google.maps.places.AutocompleteSessionToken(),
            componentRestrictions: {country: 'ng'}
        };

        var autocomplete = new google.maps.places.Autocomplete(aoksInput, options);
        autocomplete.setFields(['formatted_address', 'geometry', 'name']);

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            aoksInput.value = place.formatted_address;
            latitudeInput.value = place.geometry.location.lat();
            longitudeInput.value = place.geometry.location.lng();
            addressInput.value = place.formatted_address;
            updateAddAddressButton()
        });

        map = new google.maps.Map(document.getElementById('delivery-map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 14,
            disableDefaultUI: true,
            styles: [
                {
                    featureType: "administrative",
                    elementType: "geometry",
                    stylers: [{ visibility: "off" }]
                }, {
                    featureType: "poi",
                    stylers: [{ visibility: "off" }]
                }, {
                    featureType: "road",
                    elementType: "labels.icon",
                    stylers: [{ visibility: "off" }]
                }, {
                    featureType: "transit",
                    stylers: [{ visibility: "off" }]
                }
            ]
        });

        directionsDisplay.setMap(map);
    }

    document.getElementById("form-add-address").addEventListener('submit', function (e) {
        if (!(latitudeInput.value.trim() !== "" && longitudeInput.value.trim() !== "" &&
                addressInput.value.trim() !== "") || aoksInput.value !== addressInput.value) {
            e.preventDefault();
        }
    });

    document.getElementById("form-confirm-order").addEventListener('submit', function (e) {

        if (new FormData(selectPaymentMethodForm).get("paymentMethod") === "PAYMENT_CARD") {
            e.preventDefault();

            var alert = document.getElementById("confirm-alert");

            alert.classList.add("d-none");

            var form = this;

            form.submit.setAttribute("disabled", "disabled");

            $.ajax({
                url: "/api/v1/account/basket/checkout/initialize-payment?addressId=" + form.addressId.value,
                method: "GET",
                success: function (data, status, request) {
                    if (request.status !== 200) {
                        form.submit.removeAttribute("disabled");
                        alert.classList.remove("d-none");
                    } else {
                        window.open(data.authorizationUrl, "_self");
                    }

                },
                error: function (request, status, error) {
                    form.submit.removeAttribute("disabled");
                    alert.classList.remove("d-none");
                }
            });
        }

    });

    var addressRadios = selectAddressForm.addressId;
    var prevAddress = null;
    if (addressRadios) {
        document.getElementById("id-form-addressId").value = new FormData(selectAddressForm).get("addressId");
        for (var i = 0; i < addressRadios.length; i++) {
            addressRadios[i].onclick = function () {
                if (this !== prevAddress) {
                    prevAddress = this;
                }
                document.getElementById("id-form-addressId").value = this.value;
                isValid = false;
                updateRequestButton();
                updateDeliveryInfo();
            };
        }
    }

    var paymentMethodRadios = selectPaymentMethodForm.paymentMethod;
    var prevPaymentMethod = null;
    document.getElementById("id-form-paymentMethod").value = paymentMethodRadios[0].value;
    for(var i = 0; i < paymentMethodRadios.length; i++) {
        paymentMethodRadios[i].onclick = function () {
            if(this !== prevPaymentMethod) {
                prevPaymentMethod = this;
            }
            document.getElementById("id-form-paymentMethod").value = this.value;
            updatePaymentInfo();
        };
    }

    $('#id-expiryDate').bind('keyup','keydown', function(event) {
        var inputLength = event.target.value.length;
        if (event.keyCode !== 8){
            var thisVal = event.target.value;
            if(inputLength === 2){
                thisVal += '/';
                $(event.target).val(thisVal);
            }
            if(inputLength === 3 && thisVal.substr(2) !== '/'){
                thisVal = thisVal.substr(0, 2) + '/' + thisVal.substr(2);
                $(event.target).val(thisVal);
            }
        }
    });

    aoksInput.addEventListener("keypress", function () { updateAddAddressButton()} );

    aoksInput.addEventListener("blur", function () { updateAddAddressButton() });

    function updateAddAddressButton() {

        var addButton = document.getElementById("btn-add-address");

        if (aoksInput.value !== addressInput.value || addressInput.value === "") {
            addButton.setAttribute("disabled", "");
        } else {
            addButton.removeAttribute("disabled");
        }

    }

    function updateRequestButton() {

        var requestButton = document.getElementById("btn-request");

        if (isValid) {
            requestButton.removeAttribute("disabled");
        } else {
            requestButton.setAttribute("disabled", "");
        }

    }

    function updateDeliveryInfo() {

        var data = new FormData(selectAddressForm);
        var addressId = data.get("addressId");

        $.get("/api/v1/account/address/delivery/" + addressId, function (data) {
            document.getElementById("id-delivery-fee").innerHTML = "&#8358;" +
                (data.deliveryFee * data.multiplier).toLocaleString() + ".00";
            document.getElementById("id-total").innerHTML = "&#8358;" + (data.total).toLocaleString() + ".00";
            document.getElementById("id-modal-deliveryFee").innerHTML = "&#8358;" +
                (data.deliveryFee * data.multiplier).toLocaleString() + ".00";
            document.getElementById("id-modal-total").innerHTML = "&#8358;" + (data.total).toLocaleString() + ".00";
            isValid = data.valid;

            updateRequestButton();

            document.getElementById("id-modal-phoneNumber").innerHTML = data.address.phoneNumber;
            document.getElementById("id-modal-address").innerHTML = data.address.address;

            if (isValid) {

                var startPoint = new google.maps.LatLng(data.address.latitude, data.address.longitude);

                var request = {
                    origin: startPoint,
                    destination: merchantCoordinates,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                var icons = {
                    start: new google.maps.MarkerImage(
                        personIconLocation,
                        new google.maps.Size(72, 72),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(36, 36)
                    ),
                    end: new google.maps.MarkerImage(
                        storeIconLocation,
                        new google.maps.Size(72, 72),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(36, 36)
                    )
                };

                directionsService.route(request, function (response, status) {
                    if (status === google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                        directionsDisplay.setMap(map);

                        var leg = response.routes[0].legs[0];

                        new google.maps.Marker({
                            position: leg.start_location,
                            map: map,
                            icon: icons.start,
                            title: ""
                        });

                        new google.maps.Marker({
                            position: leg.end_location,
                            map: map,
                            icon: icons.end,
                            title: ""
                        });

                        setTimeout(function () {
                            map.setZoom(15);
                        }, 200);
                    }
                });

            }

            if (data.multiplier > 1.0) {
                document.getElementById("id-delivery-star").classList.remove("d-none");
                document.getElementById("id-delivery-fee").classList.add("text-warning");
            } else {
                document.getElementById("id-delivery-star").classList.add("d-none");
                document.getElementById("id-delivery-fee").classList.remove("text-warning");
            }
        });

    }

    function updatePaymentInfo() {

        var data = new FormData(selectPaymentMethodForm);
        var paymentMethod = data.get("paymentMethod");

        if (paymentMethod === "PAYMENT_CARD") {
            document.getElementById("id-modal-paymentMethod").innerHTML = "Pay with card"
        } else if (paymentMethod === "PAYMENT_ON_DELIVERY") {
            document.getElementById("id-modal-paymentMethod").innerHTML = "Pay on delivery (Cash)";
        }

    }

    function toggleAddAddress() {

        $("#form-add-address").slideToggle();
        $("#form-select-address").slideToggle();

    }

    updatePaymentInfo()

</script>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1wSkKhptdJWY7m1PZWD5LJspToZU12m8&callback=initGoogleApi&libraries=places"
        async defer></script>
</html>