
html, body {
    height: 100%;
}

.body {
    height: 100%;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}



/**
Typography
 */

.material-icons {
    vertical-align: sub;
}

/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }




/**
Typography
*/

* {
    text-rendering: geometricPrecision;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.5;
}

@media all and (max-width: 768px) {

    html {
        font-size: 75%;    }

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

small {
    line-height: 1;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.2;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
}



/**
Colors
 */

a {
    color: #667eea;
}

a:hover, a:focus, a:active {
    color: #5266bd;
}

.bg-primary {
    background-color: #B71C1C !important;
}

.text-primary {
    color: #B71C1C !important;
}

a.text-primary:hover, a.text-primary:focus, a.text-primary:active {
    color: #B71C1C !important;
}

.text-secondary {
    color: #ffffff !important;
}

a.text-secondary:hover, a.text-secondary:focus, a.text-secondary:active {
    color: #ffffff !important;
}

.btn-primary {
    background-color: #B71C1C;
    border-color: #B71C1C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #B71C1C !important;
    border-color: #B71C1C !important;
    color: #ffffff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #555555 !important;
    border-color: #555555 !important;
    color: #ffffff;
}

.btn-secondary {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #B71C1C;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #B71C1C !important;
}

.input-group-text, .form-control {
    border: 0 #444444;
}

.form-control-secondary {
    border: 0 #d6d8d9;
}

.input-group-text, .form-control:focus {
    background: none;
    border-color: #B71C1C;
}

.form-control-secondary:focus {
    background: none;
    border-color: #ffffff;
}

.form-control-secondary::placeholder {
    color: #d6d8d9;
}

.banner-control {
    color: #B71C1C;
}

.banner-control:focus, .banner-control:active {
    color: #B71C1C;
}



/**
Utility
 */


.hide {
    display: none;
}

.position-center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 2;
}

.shadow {
    box-shadow: 0 .3rem 1rem rgba(0,0,0,.15)!important
}

.rounded-pill {
    border-radius: 10rem;
}



/**
Buttons
 */

.btn {
    border-radius: 100px;
    font-size: 85%;
    letter-spacing: .1rem;
    padding: 1rem .75rem;
    text-transform: uppercase;
}

.btn:focus, .btn:active, .btn:hover {
    box-shadow: none !important;
}



/**
Images
 */

img.avatar-xs {
    height: 36px;
    width: 36px;
}

img.avatar-sm {
    height: 48px;
    width: 48px;
}

img.avatar {
    height: 64px;
    width: 64px;
}

img.avatar-lg {
    height: 128px;
    width: 128px;
}



/**
Form Controls
 */

/*noinspection CssOptimizeSimilarProperties*/
.form-control {
    background: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

/*noinspection CssOptimizeSimilarProperties*/
textarea.form-control {
    border-width: 2px;
    border-style: solid;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

select.form-control-lg {
    padding-bottom: 9px;
    padding-top: 9px;
}

.form-control:focus {
    box-shadow: none;
}

.form-group {
    margin-bottom: 1.25rem;
}

.input-group-text {
    background: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0;
    font-weight: 600;
}



/**
Badge
 */

.badge {
    text-transform: uppercase;
    margin-top: 12px;
    margin-right: 12px;
}



/**
Dropdown
 */

.dropdown-menu {
    border: none;
    border-radius: .1rem;
}

.basket-dropdown-menu {
    padding: 0;
    width: 400px;
}

.dropdown-item:active {
    background: #B71C1C !important;
    color: #ffffff !important;
}



/**
Nav bar
 */

.navbar {
    padding: .8rem 1rem;
}

.navbar .navbar-toggler {
    border: none;
}



/**
Banner
 */

.banner {
    background: no-repeat bottom right;
    background-size: 30%;
    background-position-x: calc(100% - 50px);
    background-position-y: calc(100% - 50px);
    padding-bottom: 110px;
    padding-top: 90px;
}

.banner.banner-sm {
    padding-bottom: 40px;
    padding-top: 30px;
}

.banner .banner-title {
    font-size: 4em;
    font-weight: 900;
}

.banner.banner-sm .banner-title {
    font-size: 3em;
}

@media all and (max-width: 1024px) {

    .banner .banner-title, .banner.banner-sm .banner-title {
        font-size: 3.5em;
    }

}

@media all and (max-width: 768px) {

    .banner .banner-title, .banner.banner-sm .banner-title {
        font-size: 2.5em;
    }

}

.banner-control {
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    padding: 3px 5px 3px 0;
    width: auto;
}

.banner-control:focus, .banner-control:active {
    color: #000000;
}

select.banner-control option {
    font-size: medium;
}

.banner #dummy-category {
    opacity: 0;
    position: absolute;
}



/**
Card
 */

.card {
    border: none
}



/**
Login Card
 */

@media all and (max-width: 576px) {

    .login-card {
        box-shadow: none !important;
    }

}

.login-card .card-body {
    padding-bottom: 40px;
    padding-top: 48px;
}



/**
Map Canvas
 */

.map-container {
    border: 3px solid #000000;
}



/**
Modals
 */

.modal-lg {
    margin: 0;
    max-width: none;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header {
    border-radius: 0;
}

.modal-image {
    height: auto;
    max-height: 600px;
    width: 100%;
}

.modal-map {
    height: 600px;
    width: 100%;
}

.modal-body-col {
    max-height: none;
}

@media (min-width: 1060px) {

    .modal-lg {
        margin: 1.75rem auto;
        max-width: 1060px
    }

    .modal-body-col {
        overflow-y: auto;
        max-height: calc(600px - 84px);
    }

}