<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: base(~{::title}, ~{::.content}, ~{}, ~{})">
<title>Create An Account - Blipsit</title>
<nav class="content" th:replace="includes/navbar :: navbar('navbar-dark bg-primary', false)"></nav>
<div class="container position-center-y content">

    <div class="row">

        <div class="card login-card shadow col-md-6 offset-md-3">
            <div class="card-body">
                <h2 class="mb-4 font-weight-normal">Create an account</h2>

                <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
                <h6 th:text="${errorMessage}" class="card-subtitle mb-3 text-danger"></h6>

                <form th:action="@{/account/create}" method="post">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="id-fullName" class="col-form-label mb-0">Full Name*:</label>
                            <input type="text" name="fullName" required class="form-control"
                                   id="id-fullName" placeholder="Enter your full name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id-email" class="col-form-label mb-0">Email*:</label>
                            <input type="email" name="email" required class="form-control"
                                   id="id-email" placeholder="Enter your valid email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id-password" class="col-form-label mb-0">Password*:</label>
                            <input type="password" name="password" required class="form-control" min="6"
                                   id="id-password" placeholder="Enter a password">
                        </div>
                        <input type="hidden" name="urlFrom" th:value="${param.url_from}">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mt-4 mb-3">Continue</button>
                    <p>Already have a account? <a th:href="@{/account/login(url_from=${param.url_from})}">Login</a></p>
                </form>
            </div>
        </div>

        <div class="col-md-6 offset-md-3 px-0">
            <div class="text-lg-right text-center mt-3">
                <a href="#" class="text-dark mr-3">Terms</a>
                <a href="#" class="text-dark">Policy</a>
            </div>
        </div>
    </div>
</div>
</html>