<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: base(~{::title}, ~{::.content}, ~{}, ~{})">
<title>Login - Blipsit</title>
<div class="container position-center-y content">

    <div class="row">

        <div class="card login-card shadow col-lg-4 col-md-6 offset-lg-4 offset-md-3">
            <div class="card-body text-center">
                <!--<a href="/"><img src="/static/img/logo_inverse.svg" width="144px" class="mb-4"></a>-->
                <a th:href="@{/}" class="text-dark"><h1 class="mb-4"> A Y A O</h1></a>
                <h4 class="mb-4 font-weight-normal">Sign In</h4>

                <h6 th:if="${param.error}" class="card-subtitle mb-3 text-danger">Invalid username or password</h6>
                <h6 th:if="${param.logout}" class="card-subtitle mb-3 text-primary">You have been logged out.</h6>

                <form th:action="@{/account/login}"method="post">
                    <div class="form-group">
                        <input type="email" name="username" required class="form-control" autofocus
                               id="id-email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" required class="form-control"
                               id="id-password" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary mt-4 mb-3">Continue</button>
                    <p>
                        New here?
                        <a th:href="@{/account/create(url_from=${param.url_from})}" class="text-dark">Create an account</a>
                    </p>
                    <p><a href="#" class="text-dark">Forgot Password?</a></p>
                </form>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 offset-lg-4 offset-md-3 px-0">
            <div class="text-lg-right text-center mt-3">
                <a href="#" class="text-dark mr-3">Terms</a>
                <a href="#" class="text-dark">Policy</a>
            </div>
        </div>
    </div>
</div>
</html>