<nav xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="navbar(extra_class, is_light)" th:class="${'navbar navbar-expand-lg justify-content-end shadow ' + extra_class}">
    <div class="container">
        <a class="navbar-brand border-dark" href="/find">
            <img th:if="${!is_light}" src="/static/img/logo_text_inverse.svg" class="align-middle" height="40px" alt="">
            <img th:if="${is_light}" src="/static/img/logo_text.svg" class="align-middle" height="40px" alt="">
            <!--<h1 class="align-middle d-inline m-0 ml-3"> A Y A O</h1>-->
        </a>
        <div class="ml-auto">
            <div class="dropdown d-inline-block" sec:authorize="isAuthenticated()">
                <a class="dropdown-toggle" href="#" id="profile-menu" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar-xs align-middle"
                         th:src="${'/account/avatar/' + #authentication.getPrincipal().account.id}" />
                </a>
                <div class="dropdown-menu shadow mt-3" aria-labelledby="profile-menu">
                    <a class="dropdown-item" href="#">My Account</a>
                    <a class="dropdown-item" th:href="@{/account/logout}">Logout</a>
                </div>
            </div>
            <div class="dropleft d-inline-block" sec:authorize="isAuthenticated()">
                <a href="#" class="mr-3" id="basket-menu" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="btn bg-transparent py-1 align-middle">
                        <i class="material-icons text-light" th:if="${!is_light}">shopping_basket</i>
                        <i class="material-icons text-dark" th:if="${is_light}">shopping_basket</i>
                    </div>
                    <div class="font-weight-normal h6 d-inline px-3 py-1
                        align-middle bg-white text-dark rounded-pill"
                         th:text="${basketItems.size()}" th:if="${!is_light}">0</div>
                    <div class="font-weight-normal h6 d-inline px-3 py-1
                        align-middle bg-primary text-light rounded-pill"
                         th:text="${basketItems.size()}" th:if="${is_light}">0</div>
                </a>
                <div class="dropdown-menu basket-dropdown-menu shadow mt-5" aria-labelledby="basket-menu"
                     style="margin-right: -95px">
                    <div class="px-4 py-5" th:if="${basketItems.size() <= 0}">

                        <h4 class="py-2 text-center">No items in basket</h4>

                    </div>
                    <div class="px-3 pb-3" th:if="${basketItems.size() > 0}">
                        <h4 class="my-3 ml-3" th:text="${#authentication.getPrincipal().account.basket.merchant.name}"></h4>
                        <hr />
                        <div class="media flex-column align-items-start py-2" th:each="basketItem : ${basketItems}">
                            <div class="d-flex w-100 justify-content-between media-body">
                                <div class="pr-4 pl-1">
                                    <h6 th:text="${basketItem.quantity}">1</h6>
                                </div>
                                <div>
                                    <h6 th:text="${basketItem.item.name}"></h6>
                                    <small class="mb-1 text-muted" th:text="${basketItem.stringifyOptions()}"></small>
                                </div>
                                <div class="pl-2 pr-1">
                                    <h6 class="font-weight-normal"
                                        th:text="${'&#8358;' +
                                        #numbers.formatDecimal(basketItem.totalPrice, 1, 'COMMA', 2, 'POINT')}">
                                        &#8358;0.00
                                    </h6>
                                </div>
                                <div class="pl-2 pr-1 font-weight-bold">
                                    <a class="h5" th:href="${'/account/basket/remove/' + basketItem.id}">&times;</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <span class="h6">Subtotal:</span>
                            <span class="h6 text-primary" th:text="${'&#8358;' + #numbers.formatDecimal(basketSubTotal, 1, 'COMMA', 2, 'POINT')}"></span>
                        </div>
                        <hr />
                        <a th:href="@{/account/basket/checkout}" title="Checkout" class="btn btn-block btn-primary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"-->
        <!--aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation"-->
        <!--sec:authorize="!isAuthenticated()">-->
        <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <div id="navbar-menu" sec:authorize="!isAuthenticated()">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="form-inline my-2 my-lg-0" th:if="${is_light}">
                <a th:href="@{/account/login}" class="btn bg-transparent text-dark px-4 my-2 my-sm-0 mr-3">Login</a>
                <a th:href="@{/account/create}" class="btn btn-primary px-4 my-2 my-sm-0">Sign Up</a>
            </div>
            <div class="form-inline my-2 my-lg-0" th:if="${!is_light}">
                <a th:href="@{/account/login}" class="btn bg-transparent text-light px-4 my-2 my-sm-0 mr-3">Login</a>
                <a th:href="@{/account/create}" class="btn btn-secondary px-4 my-2 my-sm-0">Sign Up</a>
            </div>
        </div>
    </div>
</nav>