<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: base(~{::title}, ~{::.content}, ~{}, ~{::script})">
<title th:text="${merchant.name + ' - Food & Grocery Delivery'}"></title>
<nav class="content" th:replace="includes/navbar :: navbar('navbar-light bg-white fixed-top', true)"></nav>
<div class="banner content bg-primary text-light pb-5">
    <div class="container">
        <div class="banner-title mt-5 text-secondary">
            <span th:text="${merchant.name}"></span>
        </div>
        <h5 class="font-weight-normal mb-4" th:text="${merchant.description}"></h5>
        <h5 class="d-inline">
            <span class="badge badge-pill badge-light font-weight-normal px-3 py-2">
                <i class="material-icons md-16 text-dark mr-1">query_builder</i>
                <span th:if="${merchant.minTimeInMinutes - merchant.maxTimeInMinutes != 0}"
                      th:text="${merchant.minTimeInMinutes + '-' + merchant.maxTimeInMinutes + ' MIN'}"></span>
                <span th:if="${merchant.minTimeInMinutes - merchant.maxTimeInMinutes == 0}"
                      th:text="${merchant.minTimeInMinutes + ' MIN'}"></span>
            </span>
        </h5>
        <h5 class="d-inline">
            <span class="badge badge-pill badge-light font-weight-normal px-3 py-2">
                <i class="material-icons md-16 text-dark mr-1">room</i>
                <span th:text="${merchant.address}"></span>
            </span>
        </h5>
        <h5 class="float-md-right float-xs-none m-0">
            <span class="badge badge-pill badge-light font-weight-normal px-3 py-2">
                <i class="material-icons md-16 text-dark mr-1">label</i>
                <span th:text="${merchant.category.name}"></span>
            </span>
        </h5>
    </div>
</div>
<div class="container content pt-5">
    <div id="#flash-alert" class="alert alert-danger fade show d-none" role="alert">An error occurred. Couldn't add item to basket</div>
    <div th:each="itemCategory : ${merchant.itemCategories}">
        <h2 th:text="${itemCategory.name}"></h2>
        <hr />
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" th:each="item : ${itemCategory.items}">
                <a href="javascript:void(0)" th:title="${'Add ' + item.name + ' To Cart'}" data-toggle="modal"
                   th:data-target="${'#item-modal-' + item.id}">
                    <div class="card shadow">
                        <img class="card-img-top" th:src="${'/item/image/' + item.id}" th:alt="${item.name}">
                        <div class="card-body">
                            <h5 class="card-title text-dark" th:text="${item.name}"></h5>
                            <h6 class="card-subtitle mb-4 text-muted" th:text="${item.description}">Card subtitle</h6>
                            <p class="card-text text-success font-weight-bold"
                               th:text="${'&#8358;' + #numbers.formatDecimal(item.price, 1, 'COMMA', 2, 'POINT')}"></p>
                        </div>
                    </div>
                </a>

                <div class="modal fade" tabindex="-1" th:id="${'item-modal-' + item.id}" role="dialog">
                    <div class="modal-dialog modal-lg mx-auto" role="document">
                        <div class="modal-content shadow-lg">
                            <div class="modal-header bg-primary text-light">
                                <h5 class="modal-title" th:text="${'Add ' + item.name} + ' to your basket'"></h5>
                                <button type="button" class="close text-white" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-sm-12 pr-md-0">
                                    <img th:src="${'/item/image/' + item.id}" th:alt="${item.name}"
                                         class="modal-image">
                                </div>
                                <div class="col-md-5 col-sm-12 pl-md-0">
                                    <form th:id="${'form-' + item.id}" th:action="${'javascript:void(0)'}" method="post">
                                        <div class="modal-body modal-body-col">
                                            <div th:id="${'item-option-' + option.id}"
                                                 th:class="${option.optional ? 'optional' : ''}"
                                                 th:each="option : ${item.options}">
                                                <h6 class="text-muted float-right" th:if="${!option.optional}">Required</h6>
                                                <h6 class="font-weight-bold" th:text="${'Choose ' + option.title}"></h6>
                                                <hr />
                                                <div class="mb-5">
                                                    <div th:if="${!option.optional}" class="custom-control custom-radio mb-3"
                                                         th:each="optionItem : ${option.items}">
                                                        <input th:checked="${optionItemStat.index == 0 ? 'yes' : 'no'}"
                                                               type="radio" th:id="${'id-option-item-' + optionItem.id}"
                                                               th:value="${optionItem.id}"
                                                               th:name="${option.id}" class="custom-control-input">
                                                        <label class="custom-control-label" th:text="${optionItem.name}"
                                                               th:for="${'id-option-item-' + optionItem.id}">
                                                        </label>
                                                        <span class="float-right text-muted" th:if="${optionItem.price > 0}"
                                                              th:text="${'+&#8358;' +
                                                              #numbers.formatDecimal(optionItem.price, 1, 'COMMA', 2, 'POINT')}">
                                                        </span>
                                                    </div>
                                                    <div th:if="${option.optional}" class="custom-control custom-checkbox mb-3"
                                                         th:each="optionItem : ${option.items}">
                                                        <input type="checkbox" class="custom-control-input"
                                                               th:value="${optionItem.id}" th:name="${option.id}"
                                                               th:id="${'id-option-item-' + optionItem.id}">
                                                        <label class="custom-control-label" th:text="${optionItem.name}"
                                                               th:for="${'id-option-item-' + optionItem.id}">
                                                        </label>
                                                        <span class="float-right text-muted" th:if="${optionItem.price > 0}"
                                                              th:text="${'+&#8358;' + optionItem.price}">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="quantity-addon">Quantity:</span>
                                                </div>
                                                <input type="number" class="form-control text-center" placeholder="1, 2, 3..."
                                                       aria-label="Quantity" aria-describedby="quantity-addon" value="1"
                                                       th:id="${'id-quantity-' + item.id}">
                                            </div>
                                            <button type="button" class="btn btn-primary px-4 btn-add-to-cart"
                                                    th:onclick="${'addItemToCart(''' + item.id + ''')'}">
                                                Add To Basket
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addItemToCart(itemId) {

        $(".btn-add-to-cart").attr("disabled", "");

        var quantity = $("#id-quantity-" + itemId).val();
        var options = [];

        var form = document.getElementById("form-" + itemId);
        var data = new FormData(form);
        var optionDivs = $("#form-" + itemId + " [id*='item-option-']");

        for (var i = 0; i < optionDivs.length; i++) {
            var optionDiv = optionDivs[i];

            var optionId = optionDiv.id.substr(12);
            var optional = optionDiv.classList.contains("optional");

            var optionItemId = "";
            var optionItemIds = [];

            if (optional) {
                optionItemIds = data.getAll(optionId);
            } else {
                optionItemId = data.get(optionId)
            }

            options.push({
                "optionId": optionId,
                "optional": optional,
                "optionItemId": optionItemId,
                "optionItemIds": optionItemIds
            });

        }

        var postData = {
            "itemId": itemId,
            "quantity": quantity,
            "options": options
        };

        var url = "/account/basket/add/";

        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData), //Stringified Json Object
            async: false,    //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation
            cache: false,    //This will force requested pages not to be cached by the browser
            processData: false, //To avoid making query String instead of JSON
            success: function (data, status, xhr) {
                if (data === "OK") {
                    window.location.reload()
                } else {
                    $(".btn-add-to-cart").removeAttr("disabled");
                    $('#flash-alert').removeClass("d-none");
                    setTimeout(function () {
                        $('#flash-alert').fadeOut();
                    }, 8000)
                }
            },
            error: function (xhR, status, error ) {
                $(".btn-add-to-cart").removeAttr("disabled");
                $('#flash-alert').removeClass("d-none");
                setTimeout(function () {
                    $('#flash-alert').fadeOut();
                }, 8000)
            }
        });

    }
</script>
</html>